@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Devoloped by:</strong><br />
    Mahdi Adel Bukhamsin<br />
    <abbr title="Phone">P:</abbr>
    0594230259<br />
    Mohammed Alashoor<br />
    <abbr title="Phone">P:</abbr>
    0502111022<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mahdibo50@gmail.com">mahdibo50@gmail.com</a><br />
</address>