@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <p class="lead">Get Started Here</p>
    <p><a href="../Dispatch/Index" class="btn btn-primary btn-lg">Send Items to Users &raquo;</a></p>
    <p><a href="../RejectionRequests/Index" class="btn btn-primary btn-lg">Reject Requests &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Asset</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="../Assets/Index">Assets &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Defaults</h2>
        <p>Manage Locations, Brands, Items and Models</p>
        <p><a class="btn btn-default" href="../Locations/Index">Locations &raquo;</a></p>
        <p><a class="btn btn-default" href="../Brands/Index">Brands &raquo;</a></p>
        <p><a class="btn btn-default" href="../Items/Index">Items &raquo;</a></p>
        <p><a class="btn btn-default" href="../Assets/Index">Models &raquo;</a></p>
    </div>
    
    
</div>